<a href="https://colab.research.google.com/github/sergiox76/ciclos/blob/main/clcanidados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ciclos anidados

In [ ]:
tabla=int(input("Cual tabla desea:"))
for cont in range (11):
    res = tabla*cont
    print(tabla," * ",cont," = ",res)

Cual tabla desea:2
2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [ ]:
tabla=int(input("Cual tabla desea:"))
for cont in range (11):
    res = tabla*cont
    print(tabla," * ",cont," = ",res)

Cual tabla desea:2
2  *  0  =  0
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [ ]:
#Anidado con while
tab=int(input('Ingresa la primera tabla:'))
lim=int(input('Ingresa la ultima tabla:'))
mul=int(input("Ingrese el maximo del multiplicador"))
while tab<lim:
  tab=tab+1
  print('Tabla del:',tab)
  for x in range(mul+1):
    resul=tab*x
    print(tab,'*',x,'=',resul)
print("Fin de la tabla")

Ingresa la primera tabla:1
Ingresa la ultima tabla:7
Ingrese el maximo del multiplicador10
Tabla del: 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Tabla del: 3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Tabla del: 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Tabla del: 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Tabla del: 6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Tabla del: 7
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Fin de la tabla